Repository whitman-books-online/whitman-books-online, pull requests merged in 2018-05, with the labels that each got.

#148 More work on styling
  frontend/src/components/App.js
  frontend/src/components/BookItem.css
  frontend/src/components/Exchange.css
  frontend/src/components/Exchange.js
  frontend/src/components/Profile.css
  frontend/src/components/Sell.css
  frontend/src/components/Sell.js
  frontend/src/components/logo.png
Labels: frontend

#168 Add website title and favicon
  frontend/package-lock.json
  frontend/package.json
  frontend/public/alt.ico
  frontend/public/favicon.ico
  frontend/src/components/App.js
  frontend/src/components/Home.js
Labels: frontend

#178 Deploy production, have front end leverage hosted API version.
  deploy/full_deploy.yml
  deploy/production
  deploy/roles/backend_api/defaults/main.yml
  deploy/roles/backend_api/tasks/main.yml
  deploy/roles/frontend/defaults/main.yml
  deploy/roles/frontend/tasks/main.yml
  deploy/roles/reverse_proxy/defaults/main.yml
  deploy/roles/reverse_proxy/tasks/main.yml
  deploy/roles/reverse_proxy/tasks/packages.yml
  deploy/roles/reverse_proxy/templates/sites-enabled/api.j2
  deploy/roles/reverse_proxy/templates/sites-enabled/frontend.j2
  frontend/src/components/Sell.js
  frontend/src/redux/auth/actions.js
  frontend/src/redux/books/actions.js
  frontend/src/redux/listings/actions.js
  frontend/src/redux/search/reducer.js
  frontend/src/redux/users/actions.js
Labels: api, enhancement, frontend

#183 Switched the autodoc raw html to automodule
  docs/source/dev-docs/autodoc/book.rst
  docs/source/dev-docs/autodoc/listing.rst
  docs/source/dev-docs/autodoc/user.rst
  docs/source/index.rst
Labels: documentation

#187 Adding intro, front end description, rearranging readthedocs toc tree
  docs/source/dev-docs/api-guide.rst
  docs/source/dev-docs/frontend-description.rst
  docs/source/index.rst
  docs/source/intro/intro.rst
  docs/source/usr-docs/userguide.rst
Labels: documentation
